<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Congratulations <%= @driver.name %>,</h4>
    <p>You have been assigned to the trip <b><%= @trip.token %></b>, from  <%= @trip.pickup_address %> to <%= @trip.destination_address %> with a fee of <%= @trip.driver_fee %>.</p>
    <br/>
     <p><b>Customer:</b> <%= @trip.user.name %> </p>
      <p><b>Phone Number:</b> <%= @trip.user.phone_number %> </p>
    <p><b>Pickup Address:</b> <%= @trip.pickup_address %> </p>
    <p><b>Destination Address:</b> <%=  @trip.destination_address %></p>
    <p><b>Pickup Date:</b> <%= @trip.pickup_date %> </p>
    <p><b>Pickup Time:</b>  <%= @trip.pickup_time %></p>
    <p><b>Estimated Price:</b> <%= @trip.trip_amount %>  </p>
    <p><a href="https://wehaul.netlify.com" target="_blank">Log In</a> to continue</p>
    <br/>
    <p>Best</p>
    <p>WeHaul Team</p>
  </body>
</html>