<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi ,</h4>
    <p><b><%= @trip.user.name %></b> has paid <%= @trip.trip_amount %> for the trip <%= @trip.token %> from <%= @trip.pickup_address %> to <%= @trip.destination_address %> </p>
    <br/>
    <p>Best</p>
    <p>WeHaul Team</p>
  </body>
</html>